$pokemon-type-colors: (
  "grass": #a7f3d0, // from-lime-300
  "grass-to": #16a34a, // to-green-500
  "fire": #fb923c, // from-orange-400
  "fire-to": #ef4444, // to-red-500
  "water": #7dd3fc, // from-sky-300
  "water-to": #3b82f6, // to-blue-500
  "electric": #fde047, // from-yellow-300
  "electric-to": #facc15, // to-yellow-500
  "ground": #fcd34d, // from-amber-300
  "ground-to": #f59e0b, // to-amber-500
  "rock": #9ca3af, // from-gray-400
  "rock-to": #4b5563, // to-gray-600
  "bug": #a3e635, // from-lime-400
  "bug-to": #4d7c0f, // to-green-600
  "ghost": #c084fc, // from-purple-400
  "ghost-to": #9333ea, // to-purple-600
  "steel": #d1d5db, // from-gray-300
  "steel-to": #6b7280, // to-gray-500
  "ice": #67e8f9, // from-cyan-300
  "ice-to": #06b6d4, // to-cyan-500
  "fighting": #f87171, // from-red-400
  "fighting-to": #dc2626, // to-red-600
  "poison": #a78bfa, // from-violet-400
  "poison-to": #7c3aed, // to-violet-600
  "psychic": #f9a8d4, // from-pink-300
  "psychic-to": #ec4899, // to-pink-500
  "normal": #e5e7eb, // from-neutral-200
  "normal-to": #9ca3af, // to-neutral-400
  "flying": #bae6fd, // from-sky-200
  "flying-to": #38bdf8, // to-sky-400
  "dragon": #818cf8, // from-indigo-400
  "dragon-to": #4f46e5, // to-indigo-600
  "dark": #475569, // from-slate-600
  "dark-to": #1e293b, // to-slate-800
  "fairy": #fbcfe8, // from-rose-300
  "fairy-to": #e11d48 // to-rose-500
);

.gradient-background {
  --gradient-from: #e5e7eb; // 기본값 (normal 타입)
  --gradient-to: #9ca3af;

  background-image: linear-gradient(to bottom, var(--gradient-from), var(--gradient-to));
  transition: background-image 0.3s ease;
}

@each $type, $color in $pokemon-type-colors {
  @if not str-ends-with($type, "-to") {
    .gradient-background[data-type='#{$type}'] {
      --gradient-from: #{map-get($pokemon-type-colors, $type)};
      --gradient-to: #{map-get($pokemon-type-colors, "#{$type}-to")};
    }
  }
}